# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
/build/

# IDEs
/.idea/
*.iml
*.ipr
*.iws
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
.env
*.swp
